@font-face {
    font-family: "Gerbera Bold";
    src: url('./fonts/Gerbera-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Gerbera Medium";
    src: url('./fonts/Gerbera-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    --bg-color: #1b1b1b;
    --text-color: #ebebeb;
    --accent-color: #e68434;
    --second-text-color: #a5a5b1;
    --third-text-color: #cdcdcd;
    --error-color: #ea003d;
    --var: #000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,li {
    list-style-type: none;    
}

a {
    text-decoration: none;
}

img{
    height: auto;
    max-width: 100%;
    object-fit: cover;    
}

.page {
    height: 100%;    
    font-family: 'Gerbera Medium', sans-serif;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    
}

.page__body {
    margin: 0;
    min-width: 375px;
    min-height: 100%;
    font-size: 16px;
    background-color: var(--bg-color);
    
    
}

.container{
    padding:  20px;
    margin: 0 auto;
    max-width: 1300px;    
    position: relative;
    
}   



.app {
    padding: 0;
}

.menu {
    color: var(--text-color);
    background-color: var(--accent-color);
    width: 40%;
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    top: 20px;
    transition: all .3s;
 
}


.menu__button {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    color: var(--text-color);
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    font-family: 'Gerbera Medium';
    font-size: 16px;
}





.menu__item:hover{
    background-color: #ad6529;
    cursor: pointer;
}

.menu-img{
    width: 10px;
}

.menu__links{
    color: var(--text-color);
    display: block;
    width: 100%;
    padding: 3px 10px;
}

.input-key{
    display: flex;
    position: absolute;
    right: 10px;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    width: 55%;
    border-radius: 10px;
    outline: none;
    color: var(--text-color);
}

.search__list {
    padding: 50px 0 0 0;
    color: var(--text-color);
}


.search__list{
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 20px;
    row-gap: 10px;

/* display: flex; */
/* flex-wrap: wrap; */
/* gap: 15px; */
/* justify-content: center; */
padding: 50px 0 40px;
width: 100%;
}

.search__item {
height: auto;
width: auto;

}

.search__image {
height: 300px;
width: 100%;
transition: scale .3s;
object-fit: cover;
}

.search__image:hover{
scale: 1.05;
}

.search__text {
color: var(--text-color);
}

.search__more {
background-color: var(--accent-color);
color: var(--text-color);
border-radius: 20px;
transition: background-color .3s;
cursor: pointer;
padding: 10px 20px;
font-family: "Gerbera Medium";
border: none;
display: flex;
justify-content: center;
align-items: center;
}

.search__more:hover {
background-color: #ad6529;
}

.search__film-more {
background-color: transparent;
border: none;
cursor: pointer;
font-family: "Gerbera Medium";
color: var(--text-color);
overflow: hidden;
width: 100%;
border-radius: 5px;
display: flex;
flex-direction: column;
gap: 5px;
}

.search__wrapper{
position: relative;
overflow: hidden;
height: 300px;
}


.search__hover{
position: absolute;
inset: 0;
background-color: rgb(0, 0, 0,.7);
opacity: 0;
transition: opacity .3s;
display: flex;
flex-direction: column;
padding: 10px;
text-align: start;
height: 300px;
}

.search__hover:hover{
opacity: 1;
}




.search__raiting{
flex-grow: 1;
color: var(--accent-color);
font-size: 18px;


}

.search__countries{
color: var(--accent-color);
font-size:18px;
}

.search__genres {
color: var(--second-text-color);
}

.search__text{
font-size: 20px;
text-align: start;
}

.search__date{
font-size: 13px;
color: var(--second-text-color);
text-align: start;
}

.app__title {
    
    padding: 20px 0 20px 0;
    font-size: 24px;
    color: var(--accent-color);
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.app__title-button {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 20px;
    width: 145px;
    padding: 5px 15px 5px 20px;
    cursor: pointer;
    font-family: 'Gerbera Medium';
    font-size: 18px;
    position: relative;
}

.app__title-button:hover {
    background-color: #ad6529;
}

.app__month-list{
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 0px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    width: 100%;
    padding: 7px 0;
    overflow: hidden;
}

.app__month-item {
    padding: 2px 0;
    transition: background .3s;
}

.app__month-item:hover{
    background-color: #ad6529;
}

.app__year-list{
    height: 410px;
    color: var(--text-color);
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 0px;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    width: 100%;
    padding: 7px 0;
    overflow: hidden;
    overflow-y: auto;
}

.app__year-item{
    padding: 2px 0;
    transition: background .3s;
}

.app__year-item:hover{
    background-color: #ad6529;
}


.app__title-img{
    width: 10px;
}

.app__pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.app__pagination-link {
    font-size: 16px;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
    outline: none;
    padding: 15px;
    display: flex;

}

.app__pagination-link:focus-visible {
    color: var(--accent-color);
}

.app__pagination-link:hover {
    color: var(--accent-color);
}

.app__pagination-link--current{
    color: var(--accent-color);
    pointer-events: none;
}

.app__list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}

.movie-card__link {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
    outline: none;
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
}

.movie-card__image {
    height: 300px;
    display: block;
    width: 100%;
    
    transition: scale .3s;
}

.movie-card__image:hover{
    scale: 1.03;
}

.movie-card__title {
    font-size: 20px;
    color: var(--text-color);
}

.movie-card__date {
    color: var(--second-text-color);
}

.movie-card__image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.movie-card__hover {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    color: var(--third-text-color);
    background-color: rgba(0,0,0,.8);
    transition:  opacity .3s ease-in-out;
    opacity: 0;
    width: auto;
}

.movie-card__rating {
    margin-bottom: auto;
    font-size: 20px;
    color: var(--accent-color);
}

.movie-card__link:hover .movie-card__hover {
    opacity: 1;
}
.movie-card__link:focus-visible .movie-card__hover {
    opacity: 1;
}

.movie-card__duration--hidden {
    display: none;
}

.top-shows{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 20px 0;
}

.top-shows__header {
    color: var(--accent-color);
    font-size: 24px;
    padding: 20px 0;
}

.top-shows__list{
    
        display: grid;
        grid-template-columns: repeat(5,1fr);
        column-gap: 20px;
        row-gap: 10px;
    
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 15px; */
    /* justify-content: center; */
    padding: 20px 0;
    width: 100%;
}

.top-shows__item {
    height: auto;
    width: auto;
    
}

.top-shows__image {
    height: 300px;
    width: 100%;
    transition: scale .3s;
    object-fit: cover;
}

.top-shows__image:hover{
    scale: 1.05;
}

.top-shows__text {
    color: var(--text-color);
}

.top-shows__more {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 20px;
    transition: background-color .3s;
    cursor: pointer;
    padding: 10px 20px;
    font-family: "Gerbera Medium";
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-shows__more:hover {
    background-color: #ad6529;
}

.top-shows__film-more {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Gerbera Medium";
    color: var(--text-color);
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top-shows__wrapper{
    position: relative;
    overflow: hidden;
    height: 300px;
}


.top-shows__hover{
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0,.7);
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: start;
    height: 300px;
}

.top-shows__hover:hover{
    opacity: 1;
}




.top-shows__raiting{
    flex-grow: 1;
    color: var(--accent-color);
    font-size: 18px;
    
    
}

.top-shows__countries{
    color: var(--accent-color);
    font-size:18px;
}

.top-shows__genres {
    color: var(--second-text-color);
}

.top-shows__text{
    font-size: 20px;
    text-align: start;
}

.top-shows__date{
    font-size: 13px;
    color: var(--second-text-color);
    text-align: start;
}


.top-movies{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 20px 0;
}

.top-movies__header {
    color: var(--accent-color);
    font-size: 24px;
    padding: 20px 0;
}

.top-movies__list{
    
        display: grid;
        grid-template-columns: repeat(5,1fr);
        column-gap: 20px;
        row-gap: 10px;
    
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 15px; */
    /* justify-content: center; */
    padding: 20px 0;
    width: 100%;
}

.top-movies__item {
    height: auto;
    width: auto;
    
}

.top-movies__image {
    height: 300px;
    width: 100%;
    transition: scale .3s;
    object-fit: cover;
}

.top-movies__image:hover{
    scale: 1.05;
}

.top-movies__text {
    color: var(--text-color);
}

.top-movies__more {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-radius: 20px;
    transition: background-color .3s;
    cursor: pointer;
    padding: 10px 20px;
    font-family: "Gerbera Medium";
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-movies__more:hover {
    background-color: #ad6529;
}

.top-movies__film-more {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Gerbera Medium";
    color: var(--text-color);
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top-movies__wrapper{
    position: relative;
    overflow: hidden;
    height: 300px;
}


.top-movies__hover{
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0,.7);
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: start;
    height: 300px;
}

.top-movies__hover:hover{
    opacity: 1;
}




.top-movies__raiting{
    flex-grow: 1;
    color: var(--accent-color);
    font-size: 18px;
    
    
}

.top-movies__countries{
    color: var(--accent-color);
    font-size:18px;
}

.top-movies__genres {
    color: var(--second-text-color);
}

.top-movies__text{
    font-size: 20px;
    text-align: start;
}

.top-movies__date{
    font-size: 13px;
    color: var(--second-text-color);
    text-align: start;
}






.modal {
    position: fixed;
    inset: 0;    
    padding: 20px 15%;
    background-color: rgb(0, 0, 0,.9);
    color: var(--third-text-color);
    display: flex;    
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow-y: auto;
    
}

.modal__button {
    height: 30px;
    width: 30px;
    position: fixed;
    right: 20px;
    top: 15px;
    background-color: transparent;
    color: var(--third-text-color);
    border: none;
    cursor: pointer;
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale .3s;
}

.modal__button:hover {
    scale: 1.3;
}

.modal__name {
    text-align: center;
}

.modal__header{
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.modal__desc-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
}

.modal__rating-kinopoisk {
    display: flex;
}

.modal__picture{
    width: 40%;
    max-height: 400px;
    max-width: 250px;
}

.modal__button-kino {
    background-color: rgb(174, 174, 174, .5);
    border: none;
    color: var(--third-text-color);
    cursor: pointer;
    height: 35px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal__button-kino:hover {
    background-color: rgba(96, 96, 96, 0.5);
}



.input {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.input__label {
    color: var(--text-color);
}

.input__inp {
    background-color: rgb(255, 255, 255,.2);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.input__inp:hover {
    background-color: rgb(255, 255, 255,.2);
}

.modal__linked-films{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.modal__linked-item{
    width: 150px;
    /* height: 250px; */
    
}

.modal__linked-head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 7px;
    margin-bottom: 20px;
    background-color: rgb(174, 174, 174, .5);
    width: 100%;
    border-radius: 10px;
    color: var(--text-color);
    font-family: "Gerbera Medium";
    cursor: pointer;
    border: none;
    opacity: 0.9;
}

.modal__linked-head:hover {
    background-color: rgba(96, 96, 96, 0.5);
}

.modal__linked-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hidden {
    display: none;
}

@media (max-width: 1280px) {
    .app__list {
        grid-template-columns: repeat(4,1fr);
    }

    .movie-card__image{
        height: 400px;
        width: 100%;
    }

    .top-shows__list {
        grid-template-columns: repeat(4,1fr);
    }
    .search__list {
        grid-template-columns: repeat(4,1fr);
    }
    .top-movies__list {
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width: 850px) {
    .app__list {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .modal__header {
        flex-direction: column;
        align-items: center;
    }

    .top-shows__list {
        grid-template-columns: repeat(2,1fr);
    }
    .search__list {
        grid-template-columns: repeat(2,1fr);
    }
    .top-movies__list {
        grid-template-columns: repeat(2,1fr);
    }

    .modal__picture {
        height:600px;
        width: 100%;
    }

    .movie-card__hover {
        /* border: 1px solid red; */
        width: 90%;
        /* background-color: transparent; */
        opacity: 1;
        justify-content: end;
        height: 20%;        
        top: 77%;
        left: 5%;
        box-shadow: 0px 0px 26px 30px rgba(0, 0, 0, 0.81);
        clip-path: inset(-74px -5.7% -15.7% -5.7%);
        padding: 0px;

        
    }

    .top-shows__hover{
        
        
        
        opacity: 1;
        transition: opacity .3s;
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: start;
        top: 80%;
        /* bottom: 10%; */
        height: 20%;
        justify-content: end;
        box-shadow: 0px 0px 26px 30px rgba(0, 0, 0, 0.7);
        clip-path: inset(-74px -5.7% -15.7% -5.7%);
        
    }

    .top-shows__raiting{
        flex-grow: 0;
    }
    .search__hover{
        
        
        
        opacity: 1;
        transition: opacity .3s;
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: start;
        top: 80%;
        /* bottom: 10%; */
        height: 20%;
        justify-content: end;
        box-shadow: 0px 0px 26px 30px rgba(0, 0, 0, 0.7);
        clip-path: inset(-74px -5.7% -15.7% -5.7%);
        
    }

    .search__raiting{
        flex-grow: 0;
    }
    .top-movies__hover{
        
        
        
        opacity: 1;
        transition: opacity .3s;
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: start;
        top: 80%;
        /* bottom: 10%; */
        height: 20%;
        justify-content: end;
        box-shadow: 0px 0px 26px 30px rgba(0, 0, 0, 0.7);
        clip-path: inset(-74px -5.7% -15.7% -5.7%);
        
    }

    .top-movies__raiting{
        flex-grow: 0;
    }


     /* .movie-card__hover::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: transparent;
        /* Размытая тень по краям */
        /* box-shadow: 0px 0px 26px 30px rgba(0, 0, 0, 0.8); */
        /* pointer-events: none; */
      /* }  */
    .movie-card__rating{
        margin-bottom: 0;
        
    }

    .modal__name {
        max-width: 85%;
    }
    
    .modal__button {
        font-size: 23px;
        opacity: .6;
        top: 14px;
    }
    
}
@media (max-width: 550px) {

    .container {
        padding: 20px;
        overflow-x: hidden;
    }
    
    
    .movie-card__image{
        height: 250px;
        width: 100%;
        gap: 10px;
    }
    
}